@import '../../assets/css/partials/break_points.scss';
.spinner img{
    display: block;
    position: fixed;
    bottom: 15%;
    left: 50%;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation:  spin 1s linear infinite;
    animation:  spin 1s linear infinite;
  }
  @-webkit-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
  }
  @-moz-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
  }
  @keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
  }

@include extraLargeScreen(1281px, 3000px){
    .spinner img{
        left: 49%;
      }
}

@include tablet(1024px){
    .spinner img{
        left: 47%;
      }
}
  @include mobile(450px){
    .spinner img{
        bottom: 20%;
        left: 45%;
      }
}