.iconButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    min-width: 105px;
    height: 45px;
    padding: 20px;
    height: 28px;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    span{
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 17.65px;
            height: 17.65px;
            display: block;
            position: fixed;
            -webkit-animation: spin 1s linear infinite;
            -moz-animation: spin 1s linear infinite;
            animation: spin 1s linear infinite;
        }
    }
}
