.addNewAddress {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    & div:last-of-type {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;
        & span:last-of-type {
            font-family: Nunito, sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 13.6361px;
            line-height: 24px;
            letter-spacing: 0.01em;
            color: #06c149;
        }
    }
}
.addNewAddress.has_bg {
    color: #000000;
    & div:last-of-type {
        background:#EFEFEF;
        padding: 10px;
        border-radius: 16px;
        & span:last-of-type {
            color: #000000;
        }
    }
}