@import "../../../assets/css/partials/break_points";

.rider_modal_container_accept {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .modal_container_accept {
        width: 40%;
        padding: 30px;
        display: flex;
        flex-direction: column;
        background: #ffffff;
        border-radius: 30px;
        gap: 1.5rem;
        .rider_modal {
            display: flex;
            flex-direction: column;
            font-family: Nunito, sans-serif;
            font-style: normal;
            gap: 1.5rem;
            .top {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 2rem;
                .rider_has_accepted {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 0.5rem;
                    span {
                        font-family: Nunito, sans-serif;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 14px;
                        color: #111827;
                    }
                }
                .left {
                    font-family: Nunito, sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16px;
                    color: #111827;
                }
                .right {
                    font-family: Nunito, sans-serif;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 14px;
                    letter-spacing: 0.2px;
                    color: #06c149;
                    & span:last-of-type {
                        font-family: Nunito, sans-serif;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 16px;
                        color: #111827;
                    }
                }
            }
            .bottom {
                margin-top: 1rem;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                .header {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    position: relative;
                    height: 25px;
                    &::after {
                        content: " ";
                        width: 100%;
                        position: absolute;
                        height: 5px;
                        bottom: -10px;
                        border-bottom: 1px solid #e4e7f1;
                    }

                    .left {
                        margin-right: auto;
                        display: flex;
                        flex-direction: row;
                        gap: 0.5rem;
                        align-items: center;
                        span {
                            font-family: Nunito, sans-serif;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 15px;
                            line-height: 16px;
                            display: flex;
                            align-items: flex-end;
                            text-align: right;

                            color: #000000;
                        }
                    }
                    .right {
                        font-family: Plus Jakarta Sans, sans-serif;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 12px;
                        display: flex;
                        align-items: center;
                        text-align: right;
                        color: #2e3034;
                    }
                }
                table {
                    margin-top: 3rem;
                    thead {
                        tr {
                            td {
                                text-align: start;
                                padding-bottom: 3rem;
                            }
                            .td_flex {
                                align-items: center;
                                .gray_span {
                                    font-family: Nunito, sans-serif;
                                    font-size: 11.59285px;
                                    color: #a8aeb7;
                                }
                                .category {
                                    background: #fdebd3;
                                    border-radius: 7.11491px;
                                    font-size: 11.59285px;
                                    padding: 8px;
                                }
                                .size {
                                    background: #eeeeee;
                                    border-radius: 9.18946px;
                                    color: #35383f;
                                    padding: 8px;
                                    font-size: 11.59285px;
                                }
                            }
                            .order {
                                font-family: Nunito, sans-serif;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 16px;
                                line-height: 16px;
                                color: #212121;
                            }
                        }
                    }
                    tbody {
                        tr {
                            td {
                                text-align: start;
                            }
                            .tr_with_img {
                                text-align: center;
                            }
                            .style_td > span:first-of-type {
                                font-family: Nunito, sans-serif;
                                font-style: normal;
                                font-weight: 700;
                                font-size: 13px;
                                color: #35383f;
                                margin-right: 0.5rem;
                            }
                            .style_td > span:last-of-type {
                                font-family: Nunito, sans-serif;
                                font-style: normal;
                                font-weight: 400;
                                font-size: 12px;
                                color: #35383f;
                            }
                        }
                        .last_tr {
                            td {
                                padding-top: 30px;
                                .rider_non_schedule {
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    gap: 0.5rem;
                                    span {
                                        font-family: Nunito, sans-serif;
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 13px;
                                        line-height: 16px;
                                        color: #9ca3af;
                                    }
                                }
                            }
                            .time_td {
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                gap: 0.5rem;
                                &:last-of-type {
                                    font-family: Nunito, sans-serif;
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 14px;
                                    color: #7a7a7a;
                                }
                            }
                        }
                    }
                }
                .btn {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    margin-top: 3rem;
                }
            }
        }
    }
}

@include mobile(768px){
    .rider_modal_container_accept {
        .modal_container_accept {
            width: 80%;
            .rider_modal {
                .top {
                    flex-direction: column;
                    gap: 1rem;
                    .left {
                        font-size: 12px;
                        line-height: 12px;
                        color: #111827;
                    }
                }
            }
        }
    }
}
