@import '../../assets/css/partials/functions';
@import '../../assets/css/partials/break_points.scss';


.accountType{
   width: 80%;
    .main{
       display: flex;
       flex-direction: column;
        gap: 1.5rem;
        .link_to_login, .link_to_register{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
        }
    }
}
.go_back_home{
    @include center(column);
    margin-top: 30px;
    gap: 1rem;
    .login_btns{
        @include center(row);
        gap: 1rem;
    }
}
@include mobile(768px){
    .accountType{
        width: 90%;
        margin-left: 5%;
    }
}